<p>
  <b>Milestone id initial:</b>
  <%=h @nepa_lookup_milestone.milestone_id_initial %>

</p>


<%= link_to 'Edit', edit_nepa_lookup_milestone_path(@nepa_lookup_milestone) %> |
<%= link_to 'Back', nepa_lookup_milestones_path %>
