<h3>Help</h3>
<iframe width="620" height="415" src="//www.youtube.com/embed/5InFDAb5Bm0" frameborder="0" allowfullscreen></iframe>

<h4><a href="http://nepanode.anl.gov/uploaded/documents/NEPAnode_MapWarper_-_How_To.pdf" target="_blank">View MapWarper's How To Guide</a></h4>
<h4>Who should I contact to request help or to report an issue with the site?</h4>
<p>Please contact John Jediny at <a href="mailto:John.Jediny@hq.doe.gov">John.Jediny@hq.doe.gov</a></p>

<h4>Can I get the code and help?</h4>
<p>Yes. you can get the code here: <a href="https://github.com/DOE-NEPA/mapwarper">https://github.com/DOE-NEPA/mapwarper</a>.  It's currently MIT licensed.</p>

<h4>What are the terms for uploading maps?</h4>
<p>By uploading images to the website you agree that you allow anyone to view and use them,
including changing control points etc. <br />
So we recommend that you have permission to upload them.
Uploading and making images available does not grant a copyright license to others.
There is no guarantee about privacy or protection of images and metadata uploaded
(see note below about personal data).<br />
If you suspect a copyright infringement, please email <a href="mailto:John.Jediny@hq.doe.gov">John.Jediny@hq.doe.gov</a>.
<br />Generally, make sure the image is free to distribute or copy - and please make a note in the
description if there
are any special condtions.<br />
Soon, users will be able to make maps private.<br />
</p>

